*{padding: 0; box-sizing:border-box ;}
header{
    font-family: font-family: 'Montserrat', sans-serif;;
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px ;
    font-family: ;
}
.logo{
    font-size: 50px;
    letter-spacing: 5px;
    color: #222f3e;
}
.menu a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
}
.menu a:last-child{
    background: #f60707;
    border-radius: 8px;
    letter-spacing:2px;
    color: white;
}
.h-text{
    max-width: 500px;
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: -1;
}
.h-text h1{
    font-size: 5em;
    color: #222f3e;
    font-family: 'crimson Text',serif;
}
.h-text P{
    font-size: 20PX;
    margin-bottom: 30PX;
}
.h-text a{
    text-decoration: none;
    background: #01a3a4;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    font-family: 'Bitter',serif;
    border-radius: 8px ;
}
#more{
    background:transparent ;
    color: #01a3a4;
    box-shadow: 2px 0px 0px grey;
}
.icon{
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
.icon i{
    color: white;
    padding: 10px; ;
    font-size:20px ;
    margin:5px 0px  ;
    background: #01a3a4;
}
.icon i:hover{
    background:transparent;
    transition: 0.4s;
    border: 1px solid black;
    color: black;
}
.box{
    width: 60%;
    height: 70%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 234, 167, 0.7);
    z-index: -2;
}
#bijay{
    width: 450px;
    height: 100%;
    position: absolute;
    right: 10%;
    top: 0;
    z-index: -1;
}
